<app-sidebar>
  <div routerOutlet class="container-fluid">
  <!--      nav -->
    <div class="d-flex justify-content-between mt-4 mx-3">
      <div>
        Head route
      </div>
      <div>
        Profile
      </div>
    </div>
    <div class="container-xl overflow-auto">
      <div class="content-field content-field bg-white">
        <div *ngFor="let data of result.data" class="text-danger d-flex flex-column border p-2">
          <h5>{{data.title}}</h5>
          <span > {{data.description}}</span>
        </div>
        <router-outlet></router-outlet>
       </div>
    </div>
  </div>
</app-sidebar>
