@import '../../../styles/variables';
.sidebar-content {
  display: flex;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  width: 330px;
  opacity: 1;
  background-color: rgb(244, 244, 244);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0;
  border: 0;
  margin: 1.5rem;
  padding: 1rem;
  height: calc(100vh - 40px);
}

.active {
  background-color: $dark-black;
}

.each-content {
  width: 100%
}
